
/*满赠满减活动列表*/
.fullgive_ads{ width: 100%; height: auto; float: left; margin-top: .88rem }
.fullgive_adList{ width: 100%; height: auto; float: left}
.fullgive_adList img{ width: 100%; height: auto; float: left}
.fullgive_ad{ width:94%; height:auto; display:block; float:left; margin: 0 3%}