.header{ position: fixed}
.rightlink{ background: url(../images/ic_add_shopping_cart.png) no-repeat; background-size: 100%;}

.fullgive_ads{ width: 100%; height: auto; float: left; margin-top: .88rem }
.fullgive_adList{ width: 100%; height: auto; float: left}
.fullgive_adList img{ width: 100%; height: auto; float: left}
.fullgive_ad{ width:94%; height:auto; display:block; float:left; margin: 0 3%}

/*容器*/
.fullgive-sale{ width:100%; height:auto; display:block; float:left; background: #f5f5f5;}
.fullgive-sale-box{ width:100%; height:auto; display:block; float:left; margin:.15rem 0 0; background: #ffffff; padding: .2rem 0}
.fullgive-sale-img{ width:26%; height:1.9rem; display:block; float:left; margin:0 0 0 3%; background: #f5f5f5}
.fullgive-sale-img img{ width:100%; height:auto; display: block; float:left;}
.fullgive-sale-title{ width:64%; height:.8rem; overflow:hidden; color:#212121; font-size:.26rem; line-height:.35rem; display:block; float:right; margin-right:3%;word-break:break-all; font-weight: 600}
.fullgive-sale-msg{ width:67%; height:auto; display:block; float:right; position:relative;}
.fullgive-sale-msg em{ width: 100%; height: auto; display: block; float: left}
.fullgive-sale-msg del{ width:auto; height:auto;display:inline-block;}
.fullgive-sale-msg em{ font-size:.18rem; color: #707070}
.fullgive-sale-msg em i{ font-size:.3rem; color:#fe0101; margin-left: .08rem; font-weight: 600}
.fullgive-sale-msg del{ font-size:.18rem; color:#909090; text-decoration:line-through; margin-left: .15rem;}



.fullgive-sale-btn{ float: left; width: 100%; height: auto; margin-top: .2rem}

.fullgive-sale-msg span em{ width:70%; height:.28rem; display:block; float:left; font-size:.2rem; color:#212121;line-height: .28rem;border-radius: .28rem 0 0 .28rem; text-align: right; padding-right: 10%}
.fullgive-sale-msg span{ width:50%; height:.28rem; display:inline-block;color:#212121;line-height: .28rem; border: .02rem solid #f5ac30; border-radius: .28rem; float: left; margin-top: .1rem; margin-right: .5rem}
.fullgive-sale-msg a{padding:0 .2rem; right:0;display: inline-block ;  float: left}


.fullgive-sale-ct{ font-size: .22rem; width: auto; height: .5rem; line-height: .5rem; color: #ffffff; background: #f53828; border-radius:.06rem; }
