
<!-- 顶部 -->
<header class="header">
    <a href="javascript: void (0)" class="back"></a>
    <h2>注册送好礼</h2>
</header>

<div class="content" >


    <div class="top">
        <img src="images/outlogin/top.png">
    </div>

    <!--login-->
    <div class="login fixed">
        <div class="item item-tips">
            <div class="err-msg"></div>
        </div>
        <!---->
        <div class="item item-username">
            <input type="number" placeholder="请输入手机号" class="user-phone">
        </div>

        <div class="item item-catpach">
            <input type="tel" placeholder="输入验证码" class="txt-input">
            <a href="javascript:void (0)" class="btn-retransmit">获取验证码</a>
        </div>

        <div class="item item-password">
            <input type="password" placeholder="请设置密码(6-18个字符)" class="user-password">
        </div>

        <div class="item item-reg-option">
            <span class="reg-protocol">
                <i></i>
                <a href="javascript: void (0)">同意汇银乐虎《用户协议》</a>
            </span>
        </div>

        <div class="item item-btns">
            <a href="javascript: void (0)" class="btn-login">立即注册</a>
        </div>


    </div>


    <!--load-->
    <div class="load">

    </div>


</div>


<div class="register-success" style="display: none">
    <div class="register-image">
        <img src="images/outlogin/success.png" />
        注册成功!
    </div>
    <a href="javascript: void (0)" class="load-sc">下载APP领取套劵和豪礼</a>
    <a href="javascript: void (0)" class="close"><img src="images/outlogin/close.png"></a>
</div>

<div class="cover" style="display: none">

</div>