<header class="header" style="z-index: 9; position: fixed;border-bottom: 0px;">
    <a href="javascript:;" class="back"></a>
    <h2>限时抢购</h2>
</header>  
<!--顶部--> 
<div class="tabs" style=" top: 0.88rem;">
	 
</div>
 <!--抢购状态-->
	<div class="time-title">
	<span class ="time-title-count time-title-count-3">本次抢购已经结束</span>
 	<span class ="time-title-count time-title-count-1"></span>
 	<span class ="time-title-count time-title-count-2">本次抢购即将开始</span>
 	
	</div>
<!--抢购状态-->
 
<!--列表-->

<!--tab列表页-->
<div class="swiper-container time-sale-main">
    <div class="swiper-wrapper">
		<!--已经结束-->
        <div class="swiper-slide">
             <!--列表-->
            <div class="time-sale">
	        	 
             </div>
         </div>
		<!--已经结束-->
    </div>
</div>

<div style="text-align: center;padding: 10px 0;font-size: 0.3rem;line-height: 0.7rem; display: none"><span class="loading"></span>客官，正在加载，请稍等...
</div>

<div style="text-align: center;padding: 10px 0;font-size: 0.3rem;line-height: 0.7rem; display: none"><span class="loading"></span>客官，没有更多了/(ㄒoㄒ)/~~
</div>
