
<div class="content">
    <img src="images/vip/vip_01.jpg" class="vip-header">
    <img src="images/vip/vip_02.jpg" class="vip-enter">

    <!--title-->
    <div class="vip-title">
        <p class="vip-title-on">办理金卡会员超值送</p>
        <p class="vip-title-tw">活动期间办理金卡会员卡即可赠送以下4款商品</p>
    </div>

    <div class="vip-list">

        <img data-goodsid="13496" data-goodsitemid="14603" src="images/vip/vip_03.jpg" class="vip-goods vip-goodsdetail">
        <img data-goodsid="13504" data-goodsitemid="14611" src="images/vip/vip_04.jpg" class="vip-goods vip-goodsdetail">
        <img src="images/vip/vip_05.jpg" class="vip-goods">
        <img data-goodsid="13553" data-goodsitemid="14660" src="images/vip/vip_06.jpg" class="vip-goods vip-goodsdetail">
        <img src="images/vip/vip_07.jpg" class="vip-goods">
        <img data-goodsid="13492" data-goodsitemid="14599" src="images/vip/vip_08.jpg" class="vip-goods vip-goodsdetail">
        <img src="images/vip/vip_09.jpg" class="vip-goods">

    </div>
</div>