<header class="header" style="z-index: 9; position: fixed;border-bottom: 0px;">
    <a href="javascript:;" class="back"></a>
    <h2>限时抢购</h2>
</header>
<!--顶部--> 
<div class="tabs" style="top: 0.88rem;">

</div>

<!--列表-->

<!--tab列表页-->
<div class="swiper-container time-sale-main">
    <div class="swiper-wrapper" style="-webkit-overflow-scrolling:touch">

        <div class="swiper-slide">
             <!--时间场次-->
            <div class="time-title">

                <span class="time-title-count"></span>

            </div>

            <!--列表-->
            <div class="time-sale">

            </div>

        </div>

    </div>
</div>