<!--顶部-->
<header class="header" style="z-index: 9; position: fixed; border-bottom: 0px">
    <a href="javascript:;" class="back"></a>
    <h2>满赠</h2>
</header>

<!--活动图片-->
<img src="images/big_goods_back.png" data-img="{{activityImg}}" class="fullgive_ad lazyload"
     style="margin-top: 1rem; margin-bottom: .15rem">

<!--列表-->
<ul class="fullgive-sale">

    {{#each goods}}
        <li class="fullgive-sale-box">
            <div class="fullgive-sale-img">
                <img class="lazyload" data-goodsid="{{goodsId}}" data-goodsitemid="{{goodsItemId}}"
                     data-img="{{goodsItemImg}}" src="images/goods_back.png">
            </div>

            <div class="fullgive-sale-tap" data-goodsid="{{goodsId}}" data-goodsitemid="{{goodsItemId}}">
                <a href="javascript:;" class="fullgive-sale-title">{{goodsName}}</a>
                <a href="javascript:;" class="fullgive-sale-specif">
                    {{{lehu-rulers goodsSpecName}}}
                </a>
                {{^lehu-showDis promotionPrice goodsItemPrice}}
                    <em>乐虎价：<i>¥ {{goodsItemPrice}}</i></em>
                {{/lehu-showDis}}
                {{#lehu-showDis promotionPrice goodsItemPrice}}
                    <em>活动价：<i>¥ {{promotionPrice}}</i>
                        <del>￥{{goodsItemPrice}}</del>
                    </em>
                {{/lehu-showDis}}
            </div>
            <div class="fullgive-sale-msg">

                <div class="fullgive-sale-btn">
                    <a href="javascript:;" class="fullgive-sale-ct" data-goodsid="{{goodsId}}"
                       data-goodsitemid="{{goodsItemId}}" data-storeid="{{storeId}}">加入购物车</a>
                </div>
            </div>
        </li>

    {{/each}}

</ul>

{{#if supplement.onLoadingData}}
    <div style="text-align: center;padding: 10px 0;font-size: 0.3rem;line-height: 0.7rem;"><span class="loading"></span>客官，正在加载，请稍等...
    </div>
{{/if}}
{{#if supplement.noData}}
    <div style="text-align: center;padding: 10px 0;font-size: 0.3rem;line-height: 0.7rem;"><span class="loading"></span>客官，没有更多了/(ㄒoㄒ)/~~
    </div>
{{/if}}