<!--顶部-->
<header class="header">
    <a href="javascript:void (0)" class="back"></a>
    <h2>开卡就送超值大礼包</h2>
</header>

<!--content-->
<div class="" style="width: 100%; height: auto; float: left">
    <img src="images/test.jpeg" style="width: 100%; height: auto">
</div>