<!--顶部-->
<header class="header" style="box-shadow: 0px 1px 1px 0px rgb( 225, 225, 225 );">
    <a href="javascript:;" class="back"></a>
    <h2>满赠</h2>
</header>

<!--内容-->
<!--内容-->
<div class="fullgive_ads">

</div>

<!--没有活动提示-->
<div class="nlist_no_activity" style="width: 100%; height: auto; float: left; display: none; text-align: center;">
    <img src="images/no_activity.png" style="width:3rem; height: auto; margin: 0 auto">
</div>