<!--顶部-->
<header class="header" style="z-index: 9; position: fixed; border-bottom: 0px">
    <a href="javascript:;" class="back"></a>
    <h2>满赠</h2>

</header>

<!--活动图片-->
<img src="{{activityImg}}" class="fullgive_ad" style="margin-top: 1rem;">

<!--列表-->
<ul class="fullgive_list">

    {{#each goods}}
        <li class="fullgive-sale-box">
            <div class="fullgive-sale-img">
                <img data-goodsid="{{goodsId}}" data-goodsitemid="{{goodsItemId}}"
                     data-echo="{{goodsItemImg}}"  src="../images/goods_back.png">
            </div>
            <a href="javascript:;" class="fullgive-sale-title">{{goodsName}}</a>

            <div class="fullgive-sale-msg">
                <em>乐虎价：<i>¥ {{goodsItemPrice}}</i></em>

                <div class="fullgive-sale-btn">
                    <a href="javascript:;" class="fullgive-sale-ct"  data-goodsid="{{goodsId}}" data-goodsitemid="{{goodsItemId}}" data-storeid="{{storeId}}">加入购物车</a>
                </div>
            </div>
        </li>

    {{/each}}

</ul>

{{#if supplement.onLoadingData}}
    <div style="text-align: center;padding: 10px 0;font-size: 0.3rem;line-height: 0.7rem;"><span class="loading"></span>客官，正在加载，请稍等...
    </div>
{{/if}}
{{#if supplement.noData}}
    <div style="text-align: center;padding: 10px 0;font-size: 0.3rem;line-height: 0.7rem;"><span class="loading"></span>客官，没有更多了/(ㄒoㄒ)/~~
    </div>
{{/if}}