<header class="header" style="z-index: 9; position: fixed;border-bottom: 0px;">
    <a href="javascript:;" class="back"></a>
    <h2>限时抢购</h2>
</header>  
<!--顶部--> 
<div class="tabs" style=" top: 0.88rem;">
	 
</div>
 <!--抢购状态-->
<!--<div class="time-total-title">-->
	<!--<div class="time-title">-->
	<!--<span class ="time-title-count time-title-count-3">本次抢购已经结束</span>-->
 	<!--<span class ="time-title-count time-title-count-1"></span>-->
 	<!--<span class ="time-title-count time-title-count-2">本次抢购即将开始</span>-->

	<!--</div>-->
<!--</div>-->
<!--抢购状态-->
 
<!--列表-->

<!--tab列表页-->
<div class="swiper-container time-sale-main">

</div>
<div class="loading-date" style="font-size: .26rem; text-align: center; width: 100%; height: auto; float: left; padding: .4rem 0; display: none">
    <img src="images/loading51.gif" style="width: .6rem; height: .6rem; margin-right: .1rem; vertical-align: middle">正在加载中....
</div>

<!--没有更多提示-->
<div class="nlist_nomore" style="font-size: .26rem; text-align: center; width: 100%; height: auto; float: left; padding: .4rem 0; display: none">
    <img src="images/nomore.png">
</div>


<!--<div class="supplement_onLoadingData" style="text-align: center;padding: 10px 0;font-size: 0.3rem;line-height: 0.7rem; display: none"><span class="loading"></span>客官，正在加载，请稍等...-->
<!--</div>-->

<!--<div class="supplement_noData" style="text-align: center;padding: 10px 0;font-size: 0.3rem;line-height: 0.7rem; display: none"><span class="loading"></span>客官，没有更多了/(ㄒoㄒ)/~~-->
<!--</div>-->
<!--<div class="loading_back" style=" position: fixed; width: 100%; height: 100%; top: 0; left: 0; z-index: 999; text-align: center">-->
    <!--<img src="images/loading51.gif" style="width: 1rem; height: auto; margin-top:70%">-->
<!--</div>-->