.nwrapper {
	background: #F5F5F5;
}

#Middle {
	margin: .08rem 0;
	overflow: auto;
	zoom: 1;
	background: #FFFFFF;
}

#Middle>p {
	width: 92%;
	height: .47rem;
	line-height: .47rem;
	float: left;
	font-size: .14rem;
	padding: 0 .16rem;
	border-bottom: .001rem solid #F5F5F5;
}

.Address>span {
	float: left;
	margin-right: .1rem;
}

.Address>span>img {
	width: .32rem;
	height: .32rem;
}

.identity {
	background: #FFFFFF;
}